unsampled.pdf

# LaTeX intermediaries #
########################
*.aux
*.log
*.bbl
*.blg
*.out
*.pdfsync
*.synctex.gz

# Checkpoints etc...
.DS_Store
.Rhistory
*.pyc
*.checkpoint.ipynb
*ipynb_checkpoints/
